<header class="container">
<h1>Angular Testing</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, eius voluptatibus rem iusto veniam dolorum error nemo iste perspiciatis officiis quis repellat doloremque exercitationem accusantium saepe eaque mollitia at voluptates!</p>
<nav>
  <ul>
    <li><a routerLiker="">Home</a></li>
    <li><a routerLiker="/products">Products</a></li>
    <li><a routerLiker="/pico-preview">Pico Preview</a></li>
  </ul>
</nav>
</header>
<router-outlet></router-outlet>